body {

  font-family: Arial;

  background: #f4f6f9;

  display: flex;

  justify-content: center;

  align-items: center;

  height: 100vh;

  margin: 0;

}



.app {

  background: white;

  padding: 30px;

  border-radius: 10px;

  width: 400px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

}



h1 {

  text-align: center;

}



.task-input {

  display: flex;

  gap: 10px;

  margin-bottom: 20px;

}



.task-input input {

  flex: 1;

  padding: 10px;

}



.task-input button {

  padding: 10px;

  background: #2563eb;

  color: white;

  border: none;

  cursor: pointer;

}



.filters {

  margin-bottom: 20px;

  text-align: center;

}



.filters button {

  margin: 5px;

  padding: 5px 10px;

  cursor: pointer;

}



.task {

  background: #f9fafb;

  padding: 10px;

  margin-bottom: 10px;

  display: flex;

  justify-content: space-between;

  border-radius: 5px;

}



.completed span {

  text-decoration: line-through;

  color: gray;

}



.delete {

  background: red;

  color: white;

  border: none;

  padding: 5px;

  cursor: pointer;

}



.empty {

  text-align: center;

  color: gray;

}